body {
    position: absolute;
}
#schools {
  padding-top:50px;
  height:700px;
  color: #fff;
  background-color: #fdbcb4;
}

#doctors {
  padding-top:50px;
  height:700px;
  color: #fff;
  background-color: #fbceb1;
}
#friends {
  padding-top:50px;
  height:700px;
  color: #fff;
  background-color: #fed8b1;
}
#family {
  padding-top:50px;
  height:700px;
  color: #fff;
  background-color: #ffe5b4;
}
#favoriteFood {
  padding-top:50px;
  height:700px;
  color: #fff;
  background-color: #ffefd5;
}
